.mainPage-Wrapper{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:8px;
    padding: 16px;
    box-sizing: border-box;
}
.left-Section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.left-Section .top-Card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.right-Section{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* 공통 카드 */
.main-Card{
    background: var(--color-inverse);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    overflow: hidden;
    height: 278px;
    width: 100%;
    box-sizing: border-box;
}
.card-Header {
    background: var(--color-primary);
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-Header p {
    color: var(--text-inverse);
    font-size: var(--font-sm);
    font-weight: 200;
}
.card-Inner {
    padding: 21px 16px;
    display: flex;
    flex-direction: column;
}

/* approvalCard */
.approvalCard-Inner{gap: 8px;}
.approval-Item{
    padding: 21px 14px;
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    background: var(--color-inverse);
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
}
.approval-Item span:nth-child(2){
    color: var(--text-secondary-70);
}
.approval-Item:hover {
    background: var(--color-primary-light);
    border: 1px solid rgba(94,92,119,0.25);
}

/* calendar */
.calendar-Wrapper{
    background: var(--color-inverse);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    width: 100%;
    padding: 10px 16px;
    box-sizing: border-box;
    height: 578px;
    overflow: hidden;
}
.mainCalendar-Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.mainCalendar-Header p{
    font-size: var(--font-sm);
    font-weight: 400;
    color: var(--text-primary);
}
.calendar-Body{
    margin-top: 30px;
    overflow-y: auto;
    height: 490px;
}



@media (max-width: 1025px) {
    .mainPage-Wrapper {
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
    }
    .main-Card {
        height: auto;
        min-height: 278px;
    }

    .calendar-Wrapper {
        height: auto;
    }

    .calendar-Body {
        height: auto;
        max-height: 490px;
    }

    .right-Section {
        height: auto;
        overflow: visible;
    }

    .left-Section {
        height: auto;
    }

    .notice-Wrapper {
        height: auto;
    }

}
@media (max-width: 768px) {
    .left-Section .top-Card{
        grid-template-columns: 1fr;
    }
}
