.myCalendar-Wrapper{
    display: flex;
    width: 100%;
    gap: var(--spacing-sm);
    font-size: var(--font-xs);
    height: 100%;
    overflow-x: auto;
}
.myCalendar-Side{
    width: 220px;
    background: var(--color-inverse);
    border-radius: var(--radius-lg);
    min-height: 75vh;
    height: auto;
    padding: 15px 18px;
    border: 1px solid var(--border);
    flex-shrink: 0;
}
.myCalendar-Main{
    height: 100%;
    width: 1080px;
    flex-shrink: 0;
}
.myCalendar-Year{
    background: var(--color-primary-light);
    border-radius: var(--radius-lg);
    border: 1px solid var(--color-gray-100);
}
.myCalendar-Year .dropdown-Value span{
    color: var(--text-primary);
}
.myCalendar-Year button {
    padding: 6px 13px;
    width: 100%;
    box-sizing: border-box;
}

.myCalendar-Main .calendar-Date {
    min-height: 90px;
}

.myCalendar-Main .calendar-EmptyDate {
    min-height: 90px;
}
.myCalendar-Wrapper .myCalendar-Year input{
    padding: 6px 12px;
}
.myCalendar-Months{
    margin-top: 18px;
    padding-bottom: var(--spacing-md);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    color: var(--text-secondary);
}
.myCalendar-Months button{
    border-radius: var(--radius-lg);
    padding: 5px 0;
    font-weight: 300;
}
.myCalendar-Months button:hover{
    background: #f1f1f1;
    font-weight: 200;
}
.month-Btn.active {
    background: var(--color-danger);
    color: #fff;
    font-weight: 200;
}
.month-Btn.active:hover {
    background: var(--color-danger);
}
.filter-Title{
    padding: 9px 0;
    border-bottom: 2px solid var(--border);
    border-top: 2px solid var(--border);
    margin-bottom: 11px;
    color: var(--text-secondary);
}
.filter-Item{
    display: flex;
    padding: 5px 0;
    gap: 3px;
    color: var(--text-secondary);
    user-select: none;
    cursor: pointer;
}

@media (max-width: 1620px) {
    .myCalendar-Wrapper {
    }


    .myCalendar-Side{
        min-height: 52vh;
    }
}