.modal-Overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal-Container{
    width: 650px;
    background: var(--color-modal);
    height:800px;
    border-radius: var(--radius-lg);
    overflow: hidden;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}
.modal-Header{
    padding: 5px 11px;
    font-size: var(--font-xs);
    background: var(--color-primary);
    color: var(--color-inverse);
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-Header button{
    display: flex;
}
.modal-Title{
    margin: 24px 15px 0;
    font-size: var(--font-md);
    color: var(--text-accent);
    font-weight: 500;
}
.modal-Body{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}
.modal-Children{
    background: var(--color-inverse);
    padding: 15px 20px 20px;
    border-radius: var(--radius-lg);
    flex: 1;
}
.modal-Footer{
    padding: 13px 15px;
    background: var(--color-modal);
}

@media (max-width: 1024px)

{
    .modal-Container {
    width: 590px;
    height: 726px;
}
}@media (max-width: 768px) {
    .modal-Container {
        width: 95%;
        min-width: unset;
        height: 90vh;
    }

}